:root {
    font-size: 62.5%;
    --text-color: #85859B;
    --header-color: #4C5866;
    --background-color: #EBEBEB;
    --footer-color: #4C5866;
    --link-color: #7875FE;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: var(--text-color);
    line-height: 140%;
    text-align: left;
    font-size: 1.6rem;
}

header{
    margin: 0 15px;
    margin-bottom: 50px;
}

header button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding: 0;
}

header div {
    border-top: 1px solid #DDDDDD;
    padding-top: 14px;
}

footer {
    margin-top: 60px;
    text-align: center;
    background-color: var(--footer-color);
}

footer p {
    background-color: var(--background-color);
    margin: 0;
    color: #4C5866;
    font-size: 1.3rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h2 {
    font-size: 2.4rem;
    color: var(--header-color);
}

h3 {
    font-size: 2.4rem;
    color: var(--header-color);
    margin-bottom: 14px;
}

a:visited, a:link {
    color: var(--link-color);
}

a:active {
    color: red;
}

.wrapper{
    box-sizing: border-box;
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    color: var(--header-color);
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 30px;
    padding-top: 12px;
}

.marg{
    margin-top: 0;
    margin-left: 30px;
}

.header-big {
    font-size: 3rem;
}

.header-small {
    font-size: 1.8rem;
}

.background {
    background-color: var(--background-color);
    padding: 0 15px;
}

.navigation {
    margin-left: auto;
}

.bombagia {
    margin: 50px 15px;
    font-size: 1.4rem;
}

.catalog {
    color: var(--link-color);
    width: fit-content;
    height: 50px;
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0 50px;
    border: 1px solid var(--link-color);
}

.link {
    text-decoration: none;
    color: var(--link-color);
    font-size: 2rem;
    font-weight: bold;
}

.goods {
    box-sizing: border-box;
    margin: 60px 15px;
}

.good {
    box-sizing: border-box;
    margin: 60px 0px;
}

.brand{
    margin: 60px 0;
    padding: 0px 15px;
}

.brands {
    overflow-x: scroll;
    white-space: nowrap;
    padding-left: 0;
    margin-bottom: 0;
}

.brands li {
    display: inline-block;
    margin-right: 30px;
    margin-left: 0px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.social {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
}

.social li {
    display: inline-block;
}

.Logo_header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10.5px;
    padding-bottom: 13px;
    text-align: center;
}

.Logo_footer {
    padding: 20px 75px;
    margin: 0 15px;
    border-bottom: 1px solid var(--text-color);
}

.res {
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 60px;
    padding-bottom: 60px;
}

.result {
    border-top: 1px solid var(--text-color);
    display: flex;
}

.results {
    padding: 60px 0;
}

.edition {
    font-size: 1.4rem;
}

.paper {
    margin-top: 20px;
}

.scetch {
    margin: 60px 15px;
}
